@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-ml-yellow: #FFE600;
  --color-ml-blue: #2D3277;
  --color-ml-light-blue: #3483FA;
}

@layer base {
  body {
    @apply font-sans bg-gray-50 text-gray-900;
  }
}
